
.questions.list{
	width:600px;
	margin:0px auto 5px;
}

.questions.list .title{
	display:block;
	float:left;
	clear:none;
	width:170px;
	background-color:#6e056b;
	color:#FFF;
	padding:5px;
	margin:0px;
	text-align:center;
}

.questions.list .title.selected{
	background-color:#FFF;
	color:#6e056b;
}

.questions.list .title a{
	display:none;
}
.questions.list .title.selected a{
	font-size:0.8em;
	color:#00F;
	display:block;
}

.questions.list .question{
	display:none;
}