
#head{
	background-image:url('../i/header-background-purple.png');
}

.graph{
	position:relative;
	height:500px;
	overflow:hidden;
}

.graph a.tag{
	position:absolute;
	text-decoration:none;
	color:#000;
}