
.questions.list{
	width:600px;
	margin:0px auto 5px;
}

.questions.list h2.title{
	display:block;
	float:left;
	clear:none;
	width:170px;
	background-color:#6e056b;
	color:#FFF;
	font-size:2em;
	padding:5px;
	margin:0px;
	text-align:center;
}

.questions.list h2.title.selected{
	background-color:#FFF;
	color:#6e056b;
}

.questions.list .question{
	display:none;
}