body{
	font-family:georgia,times,serif;
	font-size:16px;
	color:#444;
	background:#c5d8db url('../i/background-tile.gif') top center repeat-y;
}

.section{
	width:720px;
	display:block;
	margin:0px auto;
	clear:both;
	position:relative;
}
.section h2{
	margin:3px 0px 7px;
}

.column{
	width:445px;
	float:left;
	margin:0px 0px 0px 25px;
}
.column:first-child{
	margin:0px;
}
.column.small{
	width:245px;
}

.site_title{
	font-family:'Tahoma',arial,sans-serif;
	font-size:3em;
	font-weight:normal;
	margin:0px;
	padding:0px;
}
.site_title a{
	color:#000;
	text-decoration:none;
}

.button{
	display:block;
	float:right;
}

.alert{
	display:block;
	margin:3px 10px;
	padding:2px 5px;
	background:#f7cd79;
	font-size:0.9em;
	font-weight:bold;
	text-align:center;
}
.alert.success{
	background-color:#b3efcd;
}
.alert.error,label.error{
	background-color:#eac6c4;
	padding:2px 7px;
	text-align:center;
}

.question.success .message{
	background:#DDD;
	color:#000;
	padding:4px 14px;
}
.question.success .message .label{
	font-size:0.9em;
	margin:0px 0px 3px;
	padding:0px;
}

form input,form label, form textarea{
	display:block;
	margin:0px;
	padding:0px;
}
form input,form textarea{
	font-size:1.1em;
	width:100%;
	padding:3px;
	color:#000;
}
form label{
	margin:7px 0px 3px;
	font-weight:bold;
	font-size:0.95em;
}
form .note{
	font-weight:normal;
	font-size:0.9em;
}
form label.note{
	margin:3px 0px 0px;
}
form .button{
	margin:7px 0px 3px;
	width:130px;
}