body{
	font-family:georgia,times,serif;
	font-size:14px;
	color:#444;
	background:#c5d8db url('../i/background-tile.gif') top center repeat-y;
}

br.cb{
	clear:both;
}

.section{
	width:775px;
	display:block;
	margin:0px auto;
	clear:both;
	position:relative;
}
.section h2{
	margin:13px 0px;
	clear:both;
}

.column{
	width:445px;
	float:left;
	margin:0px 0px 0px 25px;
}
.column:first-child{
	margin:0px;
}

.column .column{
	display:block;
	float:left;
	width:200px;
	margin-left:12px;
}

.column.small{
	width:270px;
}

.question{
	clear:both;
	margin:0px 0px 12px;
}
.question .info{
	background:#fff6db;
	padding:7px;
	margin:0px;
}
.question.odd .column.small{
	float:right;
}

.site_title{
	font-family:'Tahoma',arial,sans-serif;
	font-size:1em;
	font-weight:normal;
	margin:7px 14px 14px 0px;
	padding:0px;
	background:transparent url('../i/justask_logo.png') no-repeat top left;
	width:299px;
	height:161px;
	position:relative;
	overflow:hidden;
	text-indent:700em;
}
.site_title a{
	color:#000;
	text-decoration:none;
	position:absolute;
	top:0px;
	left:0px;
	width:208px;
	height:114px;
	overflow:hidden;
	text-indent:-700em;
}

#head .roadtoaids.logo{
	position:absolute;
	top:10px;
	right:10px;
	background:transparent url('../i/roadtoaids_logo.jpg') no-repeat top left;
	overflow:hidden;
	text-indent:-700px;
	width:70px;
	height:70px;
}
#head .sfhiv.logo{
	position:absolute;
	top:10px;
	right:85px;
	background:transparent url('../i/sfhiv_logo_x-small.gif') no-repeat top left;
	overflow:hidden;
	text-indent:-700px;
	width:211px;
	height:67px;
}

#foot{
	clear:both;
	margin-top:27px;
	font-size:0.8em;
}
#foot .help{
	display:block;
	float:right;
	text-align:right;
}

#foot .info .seal{
	float:left;
	display:block;
}

.button{
	display:block;
	float:right;
}

.alert{
	display:block;
	margin:3px 10px;
	padding:2px 5px;
	background:#f7cd79;
	font-size:0.9em;
	font-weight:bold;
	text-align:center;
}
.alert.success{
	background-color:#b3efcd;
}
.alert.error,label.error{
	background-color:#eac6c4;
	padding:2px 7px;
	text-align:center;
}

.question.success .message{
	background:#DDD;
	color:#000;
	padding:4px 14px;
}
.question.success .message .label{
	font-size:0.9em;
	margin:0px 0px 3px;
	padding:0px;
}

.social_media .button{
	width:60px;
	height:60px;
	display:block;
	float:left;
	margin:3px 7px 0px 0px;
	cursor:pointer;
	overflow:hidden;
	text-indent:700em;
	background:transparent url('../i/facebook-button.png') no-repeat top left;
}
.social_media .button.twitter{
	background-image:url('../i/twitter-button.png');
}

.register.button{
	display:block;
	margin:3px auto;
	float:none;
	width:290px;
	height:49px;
	cursor:pointer;
	background:transparent url('../i/register-button.png') top left no-repeat;
	overflow:hidden;
	text-indent:-700px;
}
a.register.button:hover{
	background-image:url('../i/register-button_over.png');
}

form input,form label, form textarea{
	display:block;
	margin:0px;
	padding:0px;
}
form input,form textarea{
	font-size:1.1em;
	width:100%;
	padding:3px;
	color:#000;
}
form label{
	margin:7px 0px 3px;
	font-weight:bold;
	font-size:0.95em;
}
form .note{
	font-weight:normal;
	font-size:0.9em;
}
form label.note{
	margin:3px 0px 0px;
}
form .button{
	margin:7px 0px 3px;
	width:130px;
}
form label.checkbox{
	position:relative;
	padding:0px 0px 0px 20px;
	font-weight:normal;
}
form label.checkbox input{
	display:block;
	width:auto;
	position:absolute;
	top:0px;
	left:0px;
}
.number.error{
	color:#db2e13;
	font-weight:bold;
}