<div class="column question {% if success %}success{% endif %}">
	{% if success %}
	<h2>Thanks For Asking</h2>
	<p>Thank you for asking a question.  We will get your question asked at <a href="http://roadtoaids2012.org/cities/sanfrancisco.htm">San Francisco's Road To AIDS Town Hall.</a></p>
	<div class="message">
		<span class="label">Your Question:</span>
		<p>{{form['text']}}</p>
	</div>
	<p>Please ask your friends to ask a question by sharing this website with them.</p>
	<a class="button" href="/">Ask another question</a>
	{% else %}
	<h2>Ask a Question!</h2>
	<p>Do you have any questions about HIV and your community?  Ask it here and have your question answered by local, state, and federal leaders at <a href="http://roadtoaids2012.org/cities/sanfrancisco.htm">San Francisco's Road To AIDS 2012 Town Hall</a> meeting September 30 at City Hall. Do you have any suggestions regarding how the National HIV/AIDS Strategy could be better implemented? Tell us what you think!</p>
	<form id="ask_question" action="/ask_question" method="POST">
		<label for="question-text">Your Question</label>
		<textarea id="question-text" class="required" name="text" ></textarea>
		{% if not success and errors and 'text' in errors %}
		<label for="question-text" class="error">{{errors['text']}}</label>
		{% endif %}
		<label for="question-text" class="note limit">(<span class="number">500</span> Character Limit)</label>
		<label for="question-name">Your Name <span class="note">(optional)</span></label>
		<input id="question-name" type="text" name="name" value="" />
		<label for="question-email">Your Email <span class="note">(optional)</span></label>
		<input id="question-email" class="email" type="text" name="email" value="" />
		<input type="text" name="honeypot" value="" style="display:none;" />
		<input type="submit" class="button" value="Ask Question" />
	</form>
	{% endif %}
</div>