{% if success %}
<div id="ask_question" class="question {% if success %}success{% endif %}">
	<h2>Thanks For Asking</h2>
	<p>We will ask your question at <a href="/townhall">San Francisco’s HIV/AIDS Town Hall</a> on Sepetember 30.</p>
	<div class="message">
		<span class="label">Your Question:</span>
		<p>{{form['text']}}</p>
	</div>
	<p><a href="#email-question">Sign up</a> below to keep in touch.</p>
	<p>Please <a href="#share">tell your friends to <span class="justask">Just Ask.</span></a></p>
	<p><a href="/townhall">Learn more about the Town Hall.</a></p>
</div>
{% else %}
<div id="ask_question" class="question">
	<h2>Ask a Question!</h2>
	<form action="/ask_question" method="POST">
		<legend>
		<div class="info">
			<p>Ask a question about HIV and your community and have it answered by local, state, and federal leaders at <a href="/townhall">San Francisco's HIV/AIDS Town Hall</a> September 30 at City Hall. </p>
			<p><a href="/townhall">Learn more about the Town Hall</a></p>
		</div>
		</legend>
		<label for="question-text">Ask a Question About HIV And Your Community</label>
		<textarea id="question-text" class="required" name="text" ></textarea>
		{% if not success and errors and 'text' in errors %}
		<label for="question-text" class="error">{{errors['text']}}</label>
		{% endif %}
		<label for="question-text" class="note limit">(<span class="number">250</span> Character Limit)</label>
		
		<label for="question-name">Your Name <span class="note">(optional)</span></label>
		<input type="text" id="question-name" name="name" />
		
		<input type="text" name="honeypot" value="" style="display:none;" />
		<input type="submit" class="button" value="Just Ask" />
	</form>
</div>
{% endif %}