{% extends 'index.html' %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/d3/d3.js"></script>
<script type="text/javascript" src="/static/js/d3/d3.layout.js"></script>
<script type="text/javascript" src="/static/js/cloud.js"></script>
{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/css/cloud.css" />
{% endblock %}

{% block navigation %}
{% endblock %}


{% block content %}
<ul class="questions list">
{% for key in questions %}
{% set question = questions[key] %}
	{% if question['title'] %}
	<li data-question="{{key}}">
		<span class="title">{{question['title']}}</span>
		<a href="#{{key}}">Show Question</a>
	</li>
	{% endif %}
{% endfor %}
</ul>
<div class="questions">
{{ super() }}
</div>
<div class="graph"></div>
{% endblock %}