{% extends 'index.html' %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/jQCloud/jqcloud/jqcloud-0.2.4.js"></script>
<script type="text/javascript" src="/static/js/cloud.js"></script>

{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="/static/jQCloud/jqcloud/jqcloud.css" />
<link rel="stylesheet" href="/static/css/cloud.css" />
{% endblock %}

{% block navigation %}
<ul class="questions list">
{% for question in questions %}
	{% if question['title'] %}
	<li data-question="{{question.key}}">
		<a href="#{{question.key}}">{{question['title']}}</a>
	</li>
	{% endif %}
{% endfor %}
</ul>
{% endblock %}


{% block content %}
<div class="questions">
{{ super() }}
</div>
<div class="graph cloud"></div>
{% endblock %}