{% if success %}
<div id="email_question" class="question success">
	<h2>Thanks for Signing Up</h2>
	<p>Expect to hear from us soon!</p>
</div>
{% else %}
<div id="email_question" class="question">
	<h2>Keep In Touch</h2>
	<form action="/capture_email" method="POST">
		<legend>
		<div class="info">
			<p>Sign up with your name and email so that we can tell you how to just ask the right questions about HIV.</p>
		</div>
		</legend>
		<label for="question-name">Your Name</label>
		<input id="question-name" type="text" name="name" value="" />
		<label for="question-email">Your Email</label>
		<input id="question-email" class="email" type="text" name="email" value="" />
		<input type="text" name="honeypot" value="" style="display:none;" />
		<input type="submit" class="button" value="Sign Up" />
	</form>
</div>
{% endif %}