<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Just Ask San Francisco</title>
	<link rel="stylesheet" href="/static/css/styles.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/page.js"></script>
	
	<meta property="og:image" content="http://www.justasksf.org/static/i/justask_logo.jpg"/>
	<meta property="og:title" content="Just Ask SF"/>
	<meta property="og:url" content="http://www.justasksf.org/"/>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-25498395-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id="head" class="section">
		<h1 class="site_title"><a href="/">Just Ask</a></h1>
		<a class="sfhiv logo" href="http://www.sfhiv.org/">San Francisco HIV Prevention</a>
		<a class="roadtoaids logo" href="http://www.roadtoaids2012.org/">Road to AIDS 2012</a>
	</div>
	<div class="section alerts">
	{% for category, msg in get_flashed_messages(with_categories=true) %}
	<p class="alert {{ category }}">{{ msg }}</p>
	{% endfor %}
	</div>
	<div id="content" class="section">
	{% block content %}
	<p>Default content</p>
	{% endblock %}
	<br style="clear:both;" />
	</div>
	<div id="foot" class="section">
		<span class="help">
			Questions about this website?<br>
			Email:<a href="mailto:info@justasksf.org">info@justasksf.org</a>
		</span>
		<span class="info">
			<img class="seal" src="/static/i/dph_seal_small.jpg" alt="" />
			San Francisco Department of Public Health<br>
			HIV Prevention Section<br>
			25 Van Ness Ave<br>
			Suite 500<br>
			San Francisco, CA 94102 
		</span>
	</div>
</body>
</html>