<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Just Ask San Francisco</title>
	{% block styles %}
	<link rel="stylesheet" href="/static/css/normalize.css/normalize.css" />
	<link rel="stylesheet" href="/static/css/styles.css" />
	{% endblock %}
	{% block scripts %}
	<script type="text/javascript" src="/static/js/modernizr.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/static/js/page.js"></script>
	{% endblock %}
	<meta property="og:image" content="http://www.justasksf.org/static/i/justask_logo.jpg"/>
	<meta property="og:title" content="Just Ask SF"/>
	<meta property="og:url" content="http://www.justasksf.org/"/>
	<meta property="og:description" content="Speak your mind during the HIV/AIDS Town Hall, September 30 from 5-9pm at San Francisco City Hall"/>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-XXXXXX-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div class="wrapper">
		<div id="head" class="section">
			<h1 class="site_title"><a href="/">Just Ask</a></h1>
			{% block navigation %}
			{% include 'register_insert.html' %}
			{% include 'social_media_insert.html' %}
			{% endblock %}
			<br class="cb" />
		</div>
		<div class="section alerts">
		{% for category, msg in get_flashed_messages(with_categories=true) %}
		<p class="alert {{ category }}">{{ msg }}</p>
		{% endfor %}
		</div>
		<div id="content" class="section">
			{% block content %}
			<p>Default content</p>
			{% endblock %}
			<br style="clear:both;" />
		</div>
		{% block foot %}
		<div id="foot" class="section">
			<span class="info">
				San Francisco Department of Public Health<br />
				<a href="http://sfhiv.org/">HIV Prevention Section</a><br />
				25 Van Ness Ave, Suite 500<br />
				San Francisco, CA 94102 
			</span>
			<span class="help">
				Questions about this website?<br>
				Email:<a href="mailto:info@justasksf.org">info@justasksf.org</a>
			</span>
			<br class="cb" />
		</div>
		{% endblock %}
	</div>
</body>
</html>