<html>
<head>
	<title>Cloud Quiz</title>
	<link rel="stylesheet" href="/static/styles.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="/static/page.js"></script>
</head>
<body>
	<div id="head">
		<h1>Cloud Quiz</h1>
		<a href="/skip">Skip questions</a>
		<a href="/restart">Reset questions</a>
	</div>
	<div id="content">
	{% block content %}
	<p>Default content</p>
	{% endblock %}
	</div>
</body>
</html>