<div id="share" class="section">
	<h2>Ask Your Friends</h2>
	<p>Tell your friends to just ask.  Share this website.</p>
	<div class="share_buttons">
		<a href="http://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.justasksf.org" class="button facebook">Facebook</a>
		<a href="http://twitter.com?status=I%20just%20asked%20a%20question%20%40RoadtoAIDS2012%20in%20%23SF.%20%20Will%20you%20ask%20a%20question%20to%3F%20http%3A%2F%2Fbit.ly%2FqEu29H%20%23justasksf" class="button twitter">Twitter</a>
	</div>
	<br class="cb" />
</div>