{% if success %}
<div class="question {% if success %}success{% endif %}">
	<h2>Thanks For Letting Us Know</h2>
	<p>Thanks for letting us know what you want to know.  Hopefully this will help us ask better questions.</p>
	<a class="button" href="/">Ask another question</a>
</div>
{% else %}
<form id="topic_question" action="/topic_question" class="question" method="POST">
	<h2>What HIV/AIDS topics do you want to know more about?</h2>
	<div class="column small info">
		<p>We plan to use this information to X Y Z</p>
	</div>
	<div class="column">
		<div class="column">
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Safer Sex" />Safer Sex</label>
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Partner Services" />Telling partners your HIV status</label>
			<label class="checkbox"><input type="checkbox" name="topics[]" value="How often to get an HIV test" />How often to get an HIV test</label>
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Testing at Doctor's Office" />Testing at my doctors office</label>
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Safer Sex" />PEP/PrEP <span class="note">(Post/Pre-Exposure Prophylaxis)</span></label>
		</div>
		<div class="column">
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Healh Coverage" />Health coverage &amp; HIV</label>
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Advances in Treatment" />Advances in HIV treatment</label>
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Access to HIV treatment" />Access to HIV treatment</label>
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Notifying your partners" />Notifying your partners</label>
			<label class="checkbox"><input type="checkbox" name="topics[]" value="Undetectable viral load" />Undetectable viral load</label>
		</div>
		<br class="cb" />
		<input type="text" name="honeypot" value="" style="display:none;" />
		<input class="button" type="submit" value="Let Us Know" />
	</div>
</form>
{% endif %}