{% extends 'layout.html' %}

{% block content %}
<div id="flyer">
	<h2>Share Your Ideas To Improve the Domestic HIV Strategy</h2>
	<div class="info">
		<p><strong>Road to the International AIDS Conference 2012:</strong></p>
		<h3>An HIV/AIDS Town Hall Meeting</h3>
		<p>Friday, September 30, 2011</p>
		<p>At City Hall, the North Light Court</p>
		<p><span class="time">5:00pm- 5:45pm</span> Catered Reception</p>
		<p><span class="time">6:00pm- 9:00pm</span> Community Discussion Addressing the National HIV/AIDS Strategy, <br>moderated by <a href="#">Dr. Judith Auerbach</a>, with:</p>
		<ul class="presenters">
			<li><a href="#">Dr. Andrew Forsyth</a>U.S. Department of Health and Human Services</li>
			<li><a href="#">Dr. Grant Colfax</a>HIV Prevention and Research, SFDPH</li>
			<li><a href="#">Dr. Marsha Martin</a>Get Screened Oakland</li>
			<li><a href="#">Herb K. Schultz</a>U.S. Department of Health and Human Services</li>
			<li><a href="#">Kabir Hypolite</a>Office of AIDS Administration, Alameda County DPH</li>
			<li><a href="#">Charles Fann</a>HIV Prevention Planning, SF</li>
		</ul>
	</div>
	<a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07e4q95wra4c76768d&oseq=" class="button">Register Now</a>
	<p>Contact Taylor Maturo at <a href="mailto:taylor.maturo@sfdph.org">taylor.maturo@sfdph.org</a> for more information</p>
</div>
{% endblock %}