{% if success %}
<div id="words_question" class="question {% if success %}success{% endif %}">
	<h2>Your words have been added</h2>
	<p>Your answers will help us tell you want you want to know. Please <a href="#email_question">sign up</a> below and we will keep you up to date. Also <a href="#share">tell your friends to just ask!</a></p>
</div>
{% else %}
<div id="words_question" class="question">
	<h2>Think of Words About HIV/AIDS</h2>
	<form action="/words_question" method="POST">
		<legend>
		<div class="info">
			<p>Think of three words that resonate with you about HIV/AIDS in the past, present and future.</p>
		</div>
		</legend>
		<label for="past">Three words about HIV/AIDS in the <strong>past</strong> <span class="note">(Separate words with a comma)</span></label>
		<input id="past" type="text" name="past" value="" />
		<label for="present">Three words about HIV/AIDS in the <strong>present</strong> <span class="note">(Separate words with a comma)</span></label>
		<input id="present" type="text" name="present" value="" />
		<label for="future">Three words about HIV/AIDS in the <strong>future</strong> <span class="note">(Separate words with a comma)</span></label>
		<input id="future" type="text" name="future" value="" />
		<br class="cb" />
		<input type="text" name="honeypot" value="" style="display:none;" />
		<input class="button" type="submit" value="Submit Your Words" />
	</form>
</div>
{% endif %}